<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="image/favicon.png" type="image/png">
    <title>छत्तीसगढ़ प्रांतीय अखंड ब्राम्हण समाज</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" media="all">
    <link rel="stylesheet" href="/vendors/linericon/style.css" media="all">
    <link rel="stylesheet" href="/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" media="all">
    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css" media="all">
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" media="all">
    <!-- main css -->
    <link href="~/css/members/style.css" rel="stylesheet" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Kurale&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam|Noto+Sans|Halant|Kurale|Laila|Rhodium+Libre|Sahitya|Sura|Yatra+One&display=swap" rel="stylesheet">    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/css/style.css" media="all">
    <link rel="stylesheet" href="/css/responsive.css" media="all">
    <style>
        .m0 {
            padding-left: 65% !important;
        }
    </style>
    <style>
        body {
            font-family: Noto Sans !important;
            font-size: 16px !important;
        }
    </style>
</head>
<body>
    <!--================Header Area =================-->
    <header class="header_area">
        @*<div class="header_top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-5">
                            <ul class="nav social_icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-7">
                            <div class="top_btn d-flex justify-content-end">
                                <a href="#">My Account</a>
                                <a href="#">Donate Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <nav class="navbar navbar-expand-lg navbar-light" style="color:#000 !important">
            <div class="container">
                <a class="navbar-brand logo_h" href="@Url.Action("Index", "Home")"><img src="~/image/logo.jpg" style="max-height:70px; max-width:70px" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20%;">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">
                                <i class="fa fa-home"></i>
                                मुख्य पृष्ठ
                                @*<span class="sr-only">(current)</span>*@
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("About", "Home")">
                                <i class="fa fa-newspaper-o">

                                </i>
                                समाचार
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" @Url.Action("Events", "Home")">
                                <i class="fa fa-calendar-o">

                                </i>
                                आयोजन
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" @Url.Action("Members", "Home")">
                                <i class="fa fa-user">

                                </i>
                                पदाधिकारी
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" @Url.Action("Gallery", "Home")">
                                <i class="fa fa-picture-o">

                                </i>
                                गैलरी
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" @Url.Action("Contact", "Home")">
                                <i class="fa fa-credit-card"></i>
                                संपर्क
                            </a>
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-list-ol">
                                    </i>
                                    सूची
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("DataList", "Home")">आवेदकों की सूची</a>
                                    <a class="dropdown-item" href="@Url.Action("ContactsList", "Home")">सन्देश सूची</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-list-ol">
                                    </i>
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Index", "News")">समाचार</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Events")">आयोजन</a>

                                </div>
                            </li>
                        }

                    </ul>
                    @*<ul class="navbar-nav ">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-bell">
                                        <span class="badge badge-info">11</span>
                                    </i>
                                    Test
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-globe">
                                        <span class="badge badge-success">11</span>
                                    </i>
                                    Test
                                </a>
                            </li>
                        </ul>*@
                    <!-- Brand and toggle get grouped for better mobile display -->
                    @*<a class="navbar-brand logo_h" href="@Url.Action("Index", "Home")"><img src="~/image/logo.jpg" style="max-height:70px; max-width:70px" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent" style="font-size:20px">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Home")">मुख्य पृष्ठ</a></li>
                                <!--<li class="nav-item"><a class="nav-link" href="ministries.html">Minisrtries</a></li>-->
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("About", "Home")">समाचार </a></li>
                                <li class="nav-item">
                                        <a href="@Url.Action("Events", "Home")" class="nav-link">आयोजन</a>

                                </li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Members", "Home")">पदाधिकारी</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Gallery", "Home")">गैलरी</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact", "Home")">संपर्क</a></li>
                                @if (Request.IsAuthenticated)
                                {
                                    <li class="nav-item submenu dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">सूची</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item"><a class="nav-link" href="@Url.Action("DataList", "Home")">आवेदकों की सूची</a></li>
                                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ContactsList", "Home")">सन्देश सूची</a></li>
                                        </ul>
                                    </li>

                                }*@
                    <!--<li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="donation.html">Donation</a></li>
                            <li class="nav-item"><a class="nav-link" href="gallery.html">गैलरी</a></li>
                            <li class="nav-item"><a class="nav-link" href="elements.html">संपर्क</a></li>
                        </ul>
                    </li>-->
                    <!--<li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Details</a></li>
                        </ul>
                    </li>-->
                    <!--<li class="nav-item"><a class="nav-link" href="contact.html">संपर्क</a></li>
                    </ul>-->
                    @*<ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
                        </ul>*@
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--================Header Area =================-->
    @RenderBody()
    <!--================ start footer Area  =================-->
    <footer class="footer-area" style=" position: fixed;left: 0;bottom: 0;">
        <div class="container">
            <div class="row">

                <div class="footer-bottom" style="text-align:center; font-size:12px !important;margin-left:40%">
                    <span>
                        छत्तीसगढ़ प्रांतीय अखंड ब्राम्हण समाज   Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>; All rights reserved

                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                          Copyright &copy;
                          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                        Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                    @*<div class="col-lg-4 col-sm-4 footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>*@
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/js/stellar.js"></script>
    <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>

    <script src="/js/custom.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
