@model ABS_v1.Models.FormData
@{
    ViewBag.Title = "FormDetails";
}

<section class="breadcrumb_area br_image">
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">आवेदक की विस्तृत जानकारी</h2>
            <!--<ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Contact Us</li>
            </ol>-->
        </div>
    </div>
</section>
<section class="contact_area section_gap" style="font-size:17px !important">
    <div class="container">
        <div>
            <div style="text-align:center;margin-bottom:20px"> <input type="button" class="btn btn-success" onclick="printDiv('printDiv')" value="Print" /></div>


            <div id="printDiv">
                <form>
                    <div class="col-lg-12">
                        <table class="table table-bordered">
                            <tr>
                                <td>फोटो</td>
                                <td><img src="~/image/registration/@Model.ImageName" alt="" height=200 width=200 /></td>
                            </tr>
                            <tr>
                                <td>पूरा नाम</td>
                                <td> @Html.DisplayFor(x => x.FullName, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>जन्म तिथि, समय</td>
                                <td> @Html.DisplayFor(x => x.BirthDay, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>जन्म स्थान</td>
                                <td>  @Html.DisplayFor(x => x.BirthPlace, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>पिता का नाम</td>
                                <td> @Html.DisplayFor(x => x.FathersName, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>माता का नाम</td>
                                <td> @Html.DisplayFor(x => x.MothersName, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>गोत्र</td>
                                <td> @Html.DisplayFor(x => x.Gotra, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>शिक्षा</td>
                                <td> @Html.DisplayFor(x => x.Education, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>कार्य / व्यवसाय</td>
                                <td> @Html.DisplayFor(x => x.Profession, new { @class = "form-control" })</td>
                            </tr>

                            <tr>
                                <td>वार्षिक आय</td>
                                <td> @Html.DisplayFor(x => x.AnnualIncome, new { @class = "form-control" })</td>
                            </tr>

                            <tr>
                                <td>वैवाहिक स्थिति - पुनर्विवाह के लिए आवश्यक</td>
                                <td> @Html.DisplayFor(x => x.MaritalStatus, new { @class = "form-control" })</td>
                            </tr>

                            <tr>
                                <td>भाई (वैवाहिक स्थिति सहित)</td>
                                <td> @Html.DisplayFor(x => x.BrothersDetails, new { @class = "form-control" })</td>
                            </tr>

                            <tr>
                                <td>बहन (वैवाहिक स्थिति सहित)</td>
                                <td> @Html.DisplayFor(x => x.SistersDetails, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>ब्राम्हण प्रकार</td>
                                <td> @Html.DisplayFor(x => x.BramhinType, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>आयु में अंतर</td>
                                <td> @Html.DisplayFor(x => x.AgeDifference, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>स्वीकार्यता</td>
                                <td> @Html.DisplayFor(x => x.Agreement, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>पालक का संपर्क नंबर</td>
                                <td> @Html.DisplayFor(x => x.GuardiansContact, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>पूरा पता</td>
                                <td> @Html.DisplayFor(x => x.FullAddress, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>जानकारी प्रदान करने वाले प्रतिनिधि का नाम व  नंबर</td>
                                <td> @Html.DisplayFor(x => x.InformantDetails, new { @class = "form-control" })</td>
                            </tr>
                        </table>


                    </div>


                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function printDiv() {
        var printContents = document.getElementById("printDiv").innerHTML;
        w = window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }
</script>